$font_family_primary: "Roboto", sans-serif;

// font size
$font_size_display_d1_60: 60px;

$font_size_header_h1_50: 50px;
$font_size_header_h2_45: 45px;
$font_size_header_h3_40: 40px;
$font_size_header_h4_35: 35px;
$font_size_header_h5_30: 30px;
$font_size_header_h6_24: 24px;

$font_size_title_20: 20px;
$font_size_subtitle_16: 16px;
$font_size_body_14: 14px;
$font_size_caption_12: 12px;
$font_size_caption_10: 10px;

// font wait
$font_weight_black: 900;
$font_weight_bold: 700;
$font_weight_semi_bold: 600;
$font_weight_medium: 500;
$font_weight_normal: 400;
$font_weight_light: 300;

// line hight
$lh_1: 1;
$lh_sm: 1.25;
$lh_base: 1.5;
$lh_lg: 2;
